@font-face {
  font-family: "Gilroy-Regular";
  font-weight: 600;
  src: url("../fonts/gilroy/Gilroy-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-weight: 600;
  src: url("../fonts/gilroy/Gilroy-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-weight: 600;
  src: url("../fonts/gilroy/Gilroy-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-weight: 600;
  src: url("../fonts/gilroy/Gilroy-Medium.ttf") format("ttf");
}
