@import "variable";
@import "mixin";
@import "shimmer";
@import "fonts";

* {
  box-sizing: border-box;
  margin: 0 !important;
}
.main {
  max-width: 1304px;
}

.nav-home {
  padding-top: 40px;
}

.home-img {
  background: url("../images/Rectangle\ 1441.png") no-repeat center center/cover;
  height: 1084px;
  width: 100%;
}

.logo-name {
  cursor: pointer;
  text-decoration: none;
  color: $white;

  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.home-nav {
  display: flex;
  position: absolute;
}

.navbar-texts {
  ul {
    li {
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.home-cart {
  span {
    position: absolute;
    right: 4px;
  }
}

.why-home-text {
  padding-left: 40px;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 42px;
  line-height: 49px;
  color: $black;
}

.navbar-menu {
  gap: 8px;

  li {
    a {
      padding-right: 62px !important;
      padding-left: 25px !important;
    }
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 84px;

  .home-main-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 80px;
    text-align: center;
    letter-spacing: -0.01em;
    padding-bottom: 14px;
  }

  .home-sub-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: $white;
    opacity: 0.8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 37px;
  }
}

.searchbar {
  display: flex;
  justify-content: center;
  padding: 8px 8px 8px 20px;
  gap: 10px;

  .searchbar-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 344px;
    height: 54px;
    background: rgba(255, 255, 255, 0.15) !important;
    border: 0.861538px solid rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: blur(4px) !important;
    border-radius: 42px !important;

    input {
      background: transparent;
      border: none;
      caret-color: white;

      &:focus {
        outline: none !important;
        box-shadow: none;
      }

      &::placeholder {
        color: white !important;
      }
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e58411;
      border-radius: 50%;
      // vertical-align: middle;
      width: 40px;
      height: 100%;
      // padding: 11px;
      // gap: 10px;

      img {
        //  padding: 8px;
      }
    }
  }
}

// .searchbar-home::placeholder{
//   color: white !important;
// }

.search-icon {
  height: 14.25px;
  width: 14.25px;
}

.about-us {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-texts {
  padding-bottom: 12px;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: $black;
  opacity: 0.9;
}

.about-subtext {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: $black;
  margin-bottom: 0;
  padding-bottom: 14px;
}

.about-left-texts {
  display: flex;
  align-items: center;
  //  justify-content: center;
}

.about-arrow {
  padding-left: 17.5px !important;
}

.products {
  display: flex;
  justify-content: center;
  padding-top: 32px !important;
  padding-bottom: 80px !important;

  .products-nav {
    background: #eeeeee;
    border-radius: 25px;
    padding: 6px;
    max-width: 348px;

    li {
      a {
        font-family: "Inter", sans-serif;
        font-size: 18px;
        line-height: 33px;
        color: $black;
        opacity: 0.8;
      }
    }
  }

  a {
    color: black;
  }
}

.products-card-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21.3251px;
  line-height: 26px;

  text-transform: capitalize;
  color: $lightblack;
}

.products-sub-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16.7554px;
  line-height: 20px;
  color: #8d8d8d;
}

.active-tab {
  background-color: #ffffff !important;
  color: black !important;
  border-radius: 32px !important;
}

.products-main {
  h3 {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 42px;
    line-height: 49px;
    color: $black;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-view {
  color: $orange;
  padding-bottom: 50px !important;
  font-family: "Gilroy", sans-serif;
  font-weight: 600px;
  font-size: 18px;
  line-height: 33px;
}

.product-slider {
  .slick-slider {
    .slick-list {
      .slick-track {
        .slick-slide {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .slick-next {
      display: block !important;
      position: absolute;
      right: 17px;
      z-index: 1;

      &::before {
        content: url("../images/SliderArraw.svg");
        background-color: $white;
        border-radius: 50% !important;
        padding: 12px !important;

        display: block;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
      }
    }

    .slick-prev {
      display: block !important;
      position: absolute;
      left: 17px;
      z-index: 1;

      &::before {
        content: url("../images/SliderArrawLeft.svg");
        background-color: $white;
        border-radius: 50% !important;
        padding: 12px !important;

        display: block;
        position: absolute;
        z-index: 1000;

        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.products-card {
  width: 268.09px;
  height: 239.15px;
  border: none !important;
}

.products-images {
  width: 217.9px !important;
  height: 255.9px !important;
}

.card-img {
  margin-top: -50px !important;
}

.product-card-price-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-section {
  background-color: #f7f7f7;
  padding-top: 162px !important;
}

.products-view {
  padding-top: 60px;
  padding-right: 16.5px;
}

.product-vector {
  padding-top: 60px;
  padding-bottom: 50px !important;
}

.price {
  font-weight: 600;
  font-size: 21.3251px;
}

.product-add {
  width: 48.74px !important;
  height: 48.74px !important;
  border-radius: 50% !important;
  background-color: #0d1b39 !important;
}

.checked {
  color: orange;
}

.testimonial-slider {
  .slick-slider {
    .slick-list {
      .slick-track {
        .slick-slide {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .slick-next {
      display: block !important;
      position: absolute;
      right: 17px;
      z-index: 1;

      &::before {
        content: url("../images/SliderArraw.svg");
        background-color: $white;
        border-radius: 50% !important;
        padding: 12px !important;

        display: block;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
      }
    }

    .slick-prev {
      display: block !important;
      position: absolute;
      left: 17px;
      z-index: 1;

      &::before {
        content: url("../images/SliderArrawLeft.svg");
        background-color: $white;
        border-radius: 50% !important;
        padding: 12px !important;

        display: block;
        position: absolute;
        z-index: 1000;

        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.testimonial-image1 {
  background: url("../images/S1.png") no-repeat center center/cover;
  width: 370px !important;
  height: 506px !important;
  display: flex !important;
  align-items: end;
  justify-content: center;
  padding: 20px;
  border-radius: 18.1182px;
}

.testimonial-image2 {
  @extend .testimonial-image1;
  background: url("../images/S2.png") no-repeat center center/cover;
}

.testimonial-image3 {
  @extend .testimonial-image1;
  background: url("../images/S3.png") no-repeat center center/cover;
}

.testimonial-images {
  width: 50px !important;
  height: 50px !important;
  display: inline-block !important;
  border: 6px solid white;
  border-radius: 50% !important;
  margin-top: -19px !important;
}

.card-data {
  width: 100%;
  margin: 0 auto;
  background: $white;
  text-align: center;
  margin-bottom: 22px;
  border-radius: 18.1182px;
}

.testimonial-card {
  position: absolute;
  width: 334px;
  height: 239px;
  left: 145px;
  top: 100px;
  z-index: 9;
}

.slick-list {
  margin-left: 45px;
  padding-top: 50px;
}

/* Experience Section */

.experiences {
  padding-top: 306px !important;
}

.experiences-section {
  padding-left: 56px;
  padding-top: 80px;
  padding-right: 160px;
}

.experiences-text-title {
  font-family: "Gilroy", sans-serif;
  // font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: $orange;
}

@mixin experiences-text-title {
  font-family: "Gilroy", sans-serif;
  // font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: $orange;
}

.experiences-sub-text-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  color: $black;
  font-size: 42px;
  line-height: 49px;
  text-transform: capitalize;
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin experiences-sub-text-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  color: $black;
  font-size: 42px;
  line-height: 49px;
  text-transform: capitalize;
  padding-top: 20px;
  padding-bottom: 20px;
}

.experiences-sub-text-description {
  font-family: "Gilroy-Regular";
  font-size: 18px;
  line-height: 33px;
  color: $black;
  opacity: 0.8;
  // padding-right: 160px;
  padding-bottom: 24px;
}

@mixin experiences-sub-text-description {
  font-family: "Gilroy-Regular";
  font-size: 18px;
  line-height: 33px;
  color: $black;
  opacity: 0.8;
  padding-bottom: 24px;
}

.materials-section {
  padding-top: 128px;
  padding-left: 80px;
  padding-right: 51px;
}

.material-text {
  @include experiences-sub-text-description;
  line-height: 49px;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 33px;
  color: #1e1e1e;
  opacity: 0.8;
}

.materials-text-main {
  @include experiences-text-title;
}

.materials-text {
  @include experiences-sub-text-title;
}

.material-sub-text {
  font-size: 18px;
  line-height: 33px;
  color: #1e1e1e;
  opacity: 0.8;
  padding-top: 12px;
  padding-bottom: 16px;
}

.more-info {
  // font-family: "Gilroy", sans-serif;
  font-weight: 600;
  color: $orange;
  font-size: 14px;
  line-height: 26px;
}

/* Testimonial Section*/
.testimonials {
  padding-top: 240px;
  padding-bottom: 214px;

  .testimonials-title {
    font-family: "Gilroy", sans-serif;
    // font-weight: 700;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: $orange;
  }

  .client-review-section {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    text-transform: capitalize;
    color: $black;
    padding-bottom: 60px;
  }
}

.testimonial-card-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: $black;
  padding-top: 8px;
}

.testimonial-card-subtitle {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: $black;
  opacity: 0.6;
  padding-top: 6px;
}

.testimonial-card-description {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $black;
  opacity: 0.8;
  padding-top: 14px;
  padding-bottom: 14px;
  padding: 0 40px;
}

.review-star {
  padding-top: 14px;
  padding-bottom: 17px;
}

.footer {
  background-color: #f7f7f7;
  padding-left: 188px;
  padding-right: 188px;
}

.footer-logo {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  padding-top: 118px !important;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: $black;
}

.footer-left {
  // padding-right: 140px !important;
}

.follow-us {
  padding-right: 11px !important;
}

.footer-service {
  padding-top: 118px !important;
  list-style: none !important;
}

.footer-services {
  color: $orange;
  padding-bottom: 20px;
  // padding-left: 110px;

  li {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.231818px;
    color: $orange;
    padding-left: 110px;
  }
}

.f-service {
  li {
    padding-bottom: 16px !important;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: $black;
    opacity: 0.8;
    // padding-left: 110px;
  }
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 15px !important;
  line-height: 20px !important;
  letter-spacing: -0.204545px;
  color: #1e2833;
  padding-top: 100px;
}

.footer-subtext {
  // font-family: "Gilroy", sans-serif;
  // font-weight: 600;
  padding-top: 21px !important;
  font-size: 15px;
  line-height: 24px;
  color: $black;
  opacity: 0.8;
}

.term-condition {
  font-family: "Gilroy", sans-serif;
  padding-right: 40px !important;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #1e2833;
  mix-blend-mode: normal;
  opacity: 0.5;
  // font-weight: 600;
}

.privacy-policy {
  font-size: 15px;
  color: #1e2833 !important;
  opacity: 0.5;
}

.copyright {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #1e2833;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .home-cart {
    display: none;
  }

  .footer {
    padding-left: 52px;
    padding-right: 27px;
  }
}

@media only screen and (max-width: 525px) {
  .footer-service {
    padding-top: 20px !important;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  .home-cart {
    display: none;
  }

  .home-main-text {
    font-size: 30px !important;
  }

  .home-sub-text {
    font-size: 15px !important;
  }
  .experiences-section {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .home-cart {
    display: none;
  }

  .home-main-text {
    font-size: 30px !important;
  }

  .home-sub-text {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 576px) {
  .home-main-text {
    font-size: 30px !important;
  }

  .home-sub-text {
    font-size: 15px !important;
  }
  .why-home-text {
    padding-left: 0px !important;
    padding-bottom: 17px;
  }

  .experiences-sub-text-title {
    font-size: 35px;
  }

  .materials-text {
    font-size: 35px;
  }

  .materials-section {
    padding-left: 37px;
  }

  .experiences-section {
    padding: 80px 56px 50px 56px;
  }

  .testimonials {
    padding-top: 125px;
    padding-bottom: 145px;
  }

  .testimonials-title {
    padding-bottom: 15px;
  }

  .client-review-section {
    font-size: 35px !important;
    padding-bottom: 10px !important;
  }

  .footer-service {
    padding-top: 52px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .home-main-text {
    font-size: 60px !important;
  }
  .home-sub-text {
    font-size: 20px !important;
  }

  .about-us {
    padding: 29px !important;
  }

  .why-home-text {
    padding-left: 5px;
  }

  .about-texts {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .home-main-text {
    font-size: 35px !important;
  }
  .home-sub-text {
    font-size: 15px !important;
  }

  .about-us {
    padding: 29px !important;
  }

  .why-home-text {
    padding-left: 5px;
  }

  .about-texts {
    padding-top: 15px;
  }
  .products-main {
    text-align: center;
  }

  .product-slider {
    text-align: center;
  }
}

// @media only screen and (max-width: 1284px) {
//   .experiences-section {
//     padding-bottom: 90px;
//   }

//   .experiences-section {
//     padding-right: 0px;
//   }

//   .materials-section {
//     padding-right: 0;
//     padding-left: 32px;
//   }
// }
