@import "variable";
@import "mixin";
@import "shimmer";
// @import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import "fonts";

// @font-face {
//   font-family: Gilroy-Regular;
//   src: url("../fonts/gilroy/Gilroy-Regular.ttf");
// }

// * {
//   //   max-width: 1304px;
//   font-family: "Gilroy-Bold", sans-serif;
//   font-family: "Gilroy-Heavy", sans-serif;
//   font-family: "Gilroy-Light", sans-serif;
//   font-family: "Gilroy-Medium", sans-serif;
//   font-family: "Gilroy-Regular", sans-serif;
// }

.main {
  max-width: 1304px;
  margin: auto;
}

.home-img {
  background: url("../images/Rectangle\ 1441.png") no-repeat center center/cover;
  height: 1084px;
  width: 100%;
}

.logo-name {
  cursor: pointer;
  text-decoration: none;
  color: $white;

  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.nav-home {
  // display: flex;
  // justify-content: space-between;
}

.home-nav {
  display: flex;
  position: absolute;
}

.navbar-texts {
  ul {
    li {
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.home-cart {
  span {
    position: absolute;
    right: 4px;
  }
}

.navbar-menu {
  gap: 8px;

  li {
    a {
      padding-right: 62px !important;
      padding-left: 25px !important;
    }
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 84px;

  .home-main-text {
    // font-family: "Gilroy-Bold", sans-serif;
    @include fontGilroy(80px , black , 600 , 130% );
    // font-size: 80px;
    // line-height: 130%;
    /* or 104px */
    text-align: center;
    letter-spacing: -0.01em;
    padding-bottom: 14px;
  }

  .home-sub-text {
    font-family: "Gilroy-Regular";
    font-size: 24px;
    line-height: 160%;
    /* or 38px */

    text-align: center;
    color: #ffffff;
    opacity: 0.8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 37px;
  }
}

.searchbar {
  display: flex;
  justify-content: center;
  padding: 8px 8px 8px 20px;
  gap: 10px;

  .searchbar-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 344px;
    height: 54px;
    background: rgba(255, 255, 255, 0.15) !important;
    border: 0.861538px solid rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: blur(4px) !important;
    border-radius: 42px !important;

    input {
      background: transparent;
      border: none;
      caret-color: white;

      &:focus {
        outline: none !important;
        box-shadow: none;
      }

      &::placeholder {
        color: white !important;
      }
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e58411;
      border-radius: 50%;
      // vertical-align: middle;
      width: 40px;
      height: 100%;
      // padding: 11px;
      // gap: 10px;

      img {
        //  padding: 8px;
      }
    }
  }
}

// .searchbar-home::placeholder{
//   color: white !important;
// }

.search-icon {
  height: 14.25px;
  width: 14.25px;
}

.about-us {
  padding-top: 120px;
}

.about-texts {
  padding-bottom: 12px;
}

.about-subtext {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 185%;
  /* or 30px */

  color: #1e1e1e;
  margin-bottom: 0;
  padding-bottom: 14px;
}

.about-left-texts {
  display: flex;
  align-items: center;
  //  justify-content: center;
}

.about-arrow {
  padding-left: 17.5px !important;
}

.about-info{
    color: $orange;
}

.products {
  display: flex;
  justify-content: center;
  padding-top: 32px !important;
  padding-bottom: 80px !important;

  .products-nav{
    background: #eeeeee;
    border-radius: 25px;
    padding: 6px;
    max-width: 348px;
  }

  a{
     color: black;
  }
}

.active-tab  {
  background-color: #ffffff !important;
  color: black !important;
  border-radius: 32px !important;
}

.products-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-view{
  color: $orange;
  padding-bottom: 50px !important;
}


.slick-arrow{
   color: blue;
}

.slick-prev:before {
  content: url('../images/SliderArrawLeft.svg');
  background-color: red;
  border-radius: 50% !important;
  padding: 12px !important;

  display: block;
  position: absolute;
  z-index: 1000;

  top:50%;
  transform: translateY(-50%);
}

.slick-next:before {
  content: url('../images/SliderArraw.svg');
  background-color: red;
  border-radius: 50% !important;
  padding: 12px !important;

  display: block;
  position: absolute;
  right: 0px;
  top:50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.products-images{
  width: 217.9px !important;
  height: 255.9px !important;
}

.products-card{
  width: 268.09px;
  height: 239.15px;
  border: none !important;
}

.product-card-price-btn{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.products-section{
   background-color: #F7F7F7;
   padding-top: 162px !important;
}

.products-view{
  padding-top: 60px;
   padding-right: 16.5px;
}

.product-vector{
  padding-top: 60px;
  padding-bottom: 50px !important;
}

.price{
  font-weight: 600;
  font-size: 21.3251px;
}

.product-add{
  width: 48.74px !important;
  height: 48.74px !important;
   border-radius: 50% !important;
   background-color: #0D1B39 !important;
}

.checked {
  color: orange;
}


/* Experience Section */

.Img1{
   position: absolute;
   padding-top: 240px !important;
}

.Img2{
   padding-top: 378px !important;
   padding-left: 195px !important;
}

.Img3{
  position: absolute;
  padding-top: 306px !important;
}

.M1{
   position: absolute;
   right: 0;
}

.M2{
   position: absolute;
   right: 0;
   padding-top: 66px;
}

.M3{
   padding-bottom: 47px !important;
}

/* Testimonial Section*/
.testimonials{
   
}

.footer{
   background-color: #F7F7F7;
}

.footer-logo{
   padding-top: 118px !important;
}

.footer-left{
  // padding-right: 140px !important;
}

.follow-us{
   padding-right: 11px !important;
}

.footer-service{
  padding-top: 118px !important;
  list-style: none !important;
}

.footer-services{
   color: $orange;
}

.footer-copyright{
   display: flex;
   justify-content: space-between;
}

.footer-subtext{
   padding-top: 21px !important;
}

.term-condition{
   padding-right: 40px !important;
}

@media only screen and (max-width: 768px) {
  .home-cart {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .home-cart {
    display: none;
  }

  .home-main-text {
    font-size: 30px !important;
  }

  .home-sub-text {
    font-size: 15px !important;
  }
}
